.pytest_cache
file.py
file_2.py
.idea
venv
__pycache__
file_3.py
variabile.py
run2_tests.yml
.github/workflows/run3_tests.yml
.github/workflows/allure_to_1.yml
run_tests.yml
# allure-results
allure_to_1.yml